<button (click)="outputFullName()">Check Console</button>
<br>
<br>

<p>First name:</p> <input type="text" name="fname" #fname><br>
<p>Last name:</p> <input type="text" name="lname" #lname><br>
<button (click)="outputFNameSName(fname.value, lname.value)">Concatenate Names</button><br>
<br>
<p>Result : </p> <p>{{ fullNameMsg }}</p>

<p>First number:</p> <input type="number" name="numOne" #numOne><br>
<p>Second number:</p> <input type="number" name="numTwo" #numTwo><br>
<button (click)="addNumbers(numOne, numTwo)">Add Numbers</button>
<p>Total : </p> <p>{{ total }}</p>

<p>Enter number:</p> <input type="number" name="numBool" #numBool><br>
<button (click)="trueOrFalse(numBool.value)">Find Odd or Even Number</button>
<p>Result : </p> <p>{{ isTrueOrFalse }}</p>
<p>{{ numberResult }}</p>